/* =======================================
   =======================================

   TABLE OF CONTENTS

     1. Global styles

     2. Typography

     3. Layout

     4. Components

     5. loader

   =======================================
   ======================================= */

/* ================
   1. Global styles
   ================ */

:root {
    --primary-color: #041f31;
    --secondary-color: #f69876;
    --dark-orange: #b8676f;
    --text-color: #ffffff;
}

.App {
    text-align: center;
    padding: 5% 5%;
    background-color: var(--primary-color);
    min-height: 100vh;
}

.App * {
    box-sizing: border-box;
}

.wrapper {
    max-width: 75vw;
    margin: auto;
}

/* ================
     2. Typography
   ================ */

@import url(https://fonts.googleapis.com/css?family=Roboto:500);

ul {
    list-style: none;
}

h1, h2, h4 {
    color: var(--secondary-color);
}

p {
    color: var(--text-color);
}

a {
    color: var(--dark-orange:);
}

a:visited {
    color: var(--dark-orange);
}

a:hover, a:focus {
    cursor: pointer;
    text-decoration: none;
}

/* ================
       3. Layout
   ================ */


/* ================
    4. Components
   ================ */

.alerts-container {
    position: fixed;
    top: 0px;
    left: 20px;
    width: 250px;
    z-index: 1000;
}

#city-search {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
}

#city-search-input-box {
    width: 100%;
    padding: 16px 12px 16px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    height: 50px;
    margin-bottom: 20px;
}

.suggestions {
    width: 100%;
    position: absolute;
    top: 42px;
    left: -38px;
    z-index: 2;
    margin: 0;
    font-size: 14px;
}

.suggestions > li {
    text-align: left;
    padding: 8px 6px 8px 10px;
    background-color: white;
    cursor: default;
}

.suggestions > li:hover {
    background-color: var(--secondary-color);
}

.pagination {
    display: flex;
    align-items: center;
}

.pagination p {
    font-size: 13px;
    margin-right: 5px;
}

.page-navigation {
    margin-left: auto;
    display: flex;
}

.page-navigation button {
    height: 30px;
    width: 40px;
    margin: 8px 10px 0 0;
    padding: 5px 10px;
    outline: none;
    box-shadow: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.page-navigation p {
    min-width: 110px;
}

.page-navigation button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.page-navigation button:disabled {
    cursor: not-allowed;
}

.charts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 1250px) {
    .charts-container {
        grid-template-columns: 1fr;
    }
}

.event {
    padding: 10px 40px 30px;
    margin-left: -45px;
    margin-bottom: 10px;
    text-align: left;
    border: 2px solid var(--secondary-color);
    border-radius: 25px;
}

.details-btn {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 4px;
    outline: none;
    border: 2px solid var(--secondary-color);
    padding: 10px;
    border-radius: 20px;
    border-bottom: 3px solid var(--dark-orange);
    transition: opacity 0.2s;
}

.details-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* ================
     5. loader
   ================ */

.lds-dual-ring {
  /* change color here */
    color: white;
}

.lds-dual-ring,
.lds-dual-ring:after {
    box-sizing: border-box;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
	transform: rotate(0deg);
    }
    100% {
	transform: rotate(360deg);
    }
}
